{% extends 'base.html.twig' %}

{% block title %}Messages / Touiteur
{% endblock %}

{% block body %}
<main class="messages">
		{% for message in messages %}

			{% if message.sender.id == app.user.id %}
				{% set displayName = message.recipient %}
			{% elseif message.recipient.id == app.user.id %}
				{% set displayName = message.sender %}
			{% endif %}

			<a class="messages__container" href="{{ path('app_messages_show', {id: message.id}) }}">
				<div>
					{% if displayName.picture %}
						<img src="{{ asset('uploads/') }}{{ displayName.picture }}" alt="{{ displayName }}" class="comment__author--img">
					{% else %}
						<img src="{{ asset('build/images/user-default.jpg') }}" alt="{{ displayName }}" class="comment__author--img">
					{% endif %}
				</div>
				<div>
					<p class="messages__author">
						<span class="messages__author--name">{{ displayName }}</span>

						{% if displayName.isVerified %}
							<svg class="touite__author--verified" viewbox="0 0 24 24" aria-label="Compte certifié">
								<g>
									<path d="M22.5 12.5c0-1.58-.875-2.95-2.148-3.6.154-.435.238-.905.238-1.4 0-2.21-1.71-3.998-3.818-3.998-.47 0-.92.084-1.336.25C14.818 2.415 13.51 1.5 12 1.5s-2.816.917-3.437 2.25c-.415-.165-.866-.25-1.336-.25-2.11 0-3.818 1.79-3.818 4 0 .494.083.964.237 1.4-1.272.65-2.147 2.018-2.147 3.6 0 1.495.782 2.798 1.942 3.486-.02.17-.032.34-.032.514 0 2.21 1.708 4 3.818 4 .47 0 .92-.086 1.335-.25.62 1.334 1.926 2.25 3.437 2.25 1.512 0 2.818-.916 3.437-2.25.415.163.865.248 1.336.248 2.11 0 3.818-1.79 3.818-4 0-.174-.012-.344-.033-.513 1.158-.687 1.943-1.99 1.943-3.484zm-6.616-3.334l-4.334 6.5c-.145.217-.382.334-.625.334-.143 0-.288-.04-.416-.126l-.115-.094-2.415-2.415c-.293-.293-.293-.768 0-1.06s.768-.294 1.06 0l1.77 1.767 3.825-5.74c.23-.345.696-.436 1.04-.207.346.23.44.696.21 1.04z"></path>
								</g>
							</svg>
						{% endif %}

						@{{ displayName.username }}

						<span>{{ message.date|date }}</span>
					</p>
					<p>{{ message.content }}</p>
				</div>
			</a>

		{% else %}
			<p>Vous n'avez aucun message 😢</p>
		{% endfor %}

		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a class="btn--compose" href="{{ path('app_messages_new') }}">
				<svg viewbox="0 0 24 24" aria-hidden="true">
					<g>
						<path d="M23.25 3.25h-2.425V.825c0-.414-.336-.75-.75-.75s-.75.336-.75.75V3.25H16.9c-.414 0-.75.336-.75.75s.336.75.75.75h2.425v2.425c0 .414.336.75.75.75s.75-.336.75-.75V4.75h2.425c.414 0 .75-.336.75-.75s-.336-.75-.75-.75zm-3.175 6.876c-.414 0-.75.336-.75.75v8.078c0 .414-.337.75-.75.75H4.095c-.412 0-.75-.336-.75-.75V8.298l6.778 4.518c.368.246.79.37 1.213.37.422 0 .844-.124 1.212-.37l4.53-3.013c.336-.223.428-.676.204-1.012-.223-.332-.675-.425-1.012-.2l-4.53 3.014c-.246.162-.563.163-.808 0l-7.586-5.06V5.5c0-.414.337-.75.75-.75h9.094c.414 0 .75-.336.75-.75s-.336-.75-.75-.75H4.096c-1.24 0-2.25 1.01-2.25 2.25v13.455c0 1.24 1.01 2.25 2.25 2.25h14.48c1.24 0 2.25-1.01 2.25-2.25v-8.078c0-.415-.337-.75-.75-.75z"></path>
					</g>
				</svg>
			</a>
		{% endif %}
	</main>
{% endblock %}
